<% title "Stocks" %>

<table>
	<tr>
		<th><%= sortable 'name' %></th>
		<th>Description</th>
		<th><%= sortable 'kind', 'Type' %></th>
		<th><%= sortable 'count' %></th>
		<th>Critical Level</th>
		<th>Change</th>
	</tr>
	<% for stock in @stocks %>
	<tr>
		<td><%= link_to stock.name, stock_path(stock) %></td>
		<td><%= stock.description %></td>
		<td><%= stock.readable_kind %></td>
		<td><%= stock.count %></td>
		<td><%= stock.critical_level %></td>
		<td><%= render 'stock_changes/new', :stock_change => @stock_change, :stock_id => stock.id %></td>
	</tr>
	<% end %>
</table>

<p><%= link_to "New Stock", new_stock_path %></p>

